form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    
}
label {
    font-size: 18px;
    margin-bottom: 10px;
}
input[type="text"], input[type="email"], input[type="password"], input[type="nom"], input[type="ville"], input[type="pays"], input[type="GPS"] {
    margin: 0.9em;
    width: 55%;
    display: block;
    padding: 0.8em;
    text-align: center;
    border: 0.16em solid rgba(255, 255, 255, 0.2);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: black;
    transition: all 0.2s;
    background-color: rgba(255, 255, 255, 0.2);
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    box-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
}
input[type="submit"] {
    margin: 0.8em;
    width: auto;
    display: block;
    padding: 0.8em;
    text-align: center;
    border: 0.16em solid rgba(255, 255, 255, 0.2);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: black;
    transition: all 0.2s;
    background-color: rgba(255, 255, 255, 0.2);
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    box-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-transform: uppercase;
}
input[type="submit"]:hover {
    border-color: rgba(255, 255, 255, 0);
    color: black;
    background-color: rgba(255, 255, 255, 0.2);
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    cursor: pointer;
}